<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhy.systemdemo.dao.relation.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.lhy.systemdemo.pojo.relation.RoleMenu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mid" jdbcType="BIGINT" property="mid" />
    <result column="rid" jdbcType="BIGINT" property="rid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mid, rid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_role_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_role_menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lhy.systemdemo.pojo.relation.RoleMenu">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_role_menu (id, mid, rid)
    values (#{id,jdbcType=BIGINT}, #{mid,jdbcType=BIGINT}, #{rid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lhy.systemdemo.pojo.relation.RoleMenu">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="mid != null">
        mid,
      </if>
      <if test="rid != null">
        rid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="mid != null">
        #{mid,jdbcType=BIGINT},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhy.systemdemo.pojo.relation.RoleMenu">
    update t_role_menu
    <set>
      <if test="mid != null">
        mid = #{mid,jdbcType=BIGINT},
      </if>
      <if test="rid != null">
        rid = #{rid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhy.systemdemo.pojo.relation.RoleMenu">
    update t_role_menu
    set mid = #{mid,jdbcType=BIGINT},
      rid = #{rid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryAllByRid" parameterType="long" resultType="com.lhy.systemdemo.pojo.relation.RoleMenu">
    select
    <include refid="Base_Column_List" />
    from  t_role_menu
    where rid = #{rid}
  </select>

  <select id="queryMenuByRoleId" resultType="com.lhy.systemdemo.pojo.relation.RoleMenu" parameterType="long">
    select
    <include refid="Base_Column_List" />
    from  t_role_menu
    where rid = #{rid}
  </select>
  <delete id="deleteMenusByRoleId" parameterType="long" timeout="3">
    delete from t_role_menu
    <where>
      rid = #{rid}
    </where>
  </delete>

  <insert id="addNewMenusByRoleId" parameterType="com.lhy.systemdemo.pojo.relation.AddRoleMenuVO" timeout="3">
    insert into
    t_role_menu
    (rid,mid)
    values
    <foreach collection="mids" separator="," item="item" index="index" close="" open="">
      (#{rid},#{item})
    </foreach>
  </insert>
</mapper>
