<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhy.systemdemo.dao.menu.MenuMapper">
  <resultMap id="BaseResultMap" type="com.lhy.systemdemo.pojo.menu.Menu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_zh" jdbcType="VARCHAR" property="nameZh" />
    <result column="icon_cls" jdbcType="VARCHAR" property="iconCls" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="component" jdbcType="VARCHAR" property="component" />
  </resultMap>
  <sql id="Base_Column_List">
    id, path, name, name_zh, icon_cls, pid, component
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lhy.systemdemo.pojo.menu.Menu">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_menu (id, path, name,
      name_zh, icon_cls, pid,
      component)
    values (#{id,jdbcType=BIGINT}, #{path,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{nameZh,jdbcType=VARCHAR}, #{iconCls,jdbcType=VARCHAR}, #{pid,jdbcType=BIGINT},
      #{component,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lhy.systemdemo.pojo.menu.Menu">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="path != null">
        path,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="nameZh != null">
        name_zh,
      </if>
      <if test="iconCls != null">
        icon_cls,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="component != null">
        component,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameZh != null">
        #{nameZh,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null">
        #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="component != null">
        #{component,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhy.systemdemo.pojo.menu.Menu">
    update t_menu
    <set>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameZh != null">
        name_zh = #{nameZh,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null">
        icon_cls = #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="component != null">
        component = #{component,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhy.systemdemo.pojo.menu.Menu">
    update t_menu
    set path = #{path,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      name_zh = #{nameZh,jdbcType=VARCHAR},
      icon_cls = #{iconCls,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=BIGINT},
      component = #{component,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="queryAllByIds" parameterType="list" resultType="com.lhy.systemdemo.pojo.menu.Menu">
        select
        <include refid="Base_Column_List" />
        from t_menu
        where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

  <select id="queryAllMenus" resultType="com.lhy.systemdemo.pojo.menu.Menu">
    select
    <include refid="Base_Column_List" />
    from t_menu
    where
    1=1
  </select>

  <select id="queryMenusByRoleId" resultType="com.lhy.systemdemo.pojo.menu.Menu">
    select
    <include refid="Base_Column_List" />
    from t_menu
    where
    rid = #{rid}
  </select>

</mapper>
