<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lhy.systemdemo.dao.LoginMapper">

    <select id="queryUserByName" resultType="com.lhy.systemdemo.pojo.User" parameterType="string" timeout="3">
        select
            user_name as userName,
            password as password,
            salt as salt,
            phone as phone,
            mail as mail,
            name as name,
            phone as phone
            from
            t_user
            where
            user_name = #{userName}
    </select>

    <insert id="registerUser" parameterType="com.lhy.systemdemo.pojo.User" useGeneratedKeys="true" keyColumn="id" keyProperty="id" timeout="3">
        insert into t_user (user_name,password,salt,phone,name,mail) values (#{userName},#{password},#{salt},#{phone},#{name},#{mail})
    </insert>

    <select id="checkUser" parameterType="string" resultType="int" timeout="3">
        select count(*)
        FROM
        t_user
        where
        user_name = #{userName}
    </select>
</mapper>
